.App {
  text-align: center;
  position: relative;
  overflow-x: hidden; /* Evita el scroll horizontal */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 2000;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Estilos para el carrito */
.cart-box {
  position: fixed;
  top: 16px;
  right: 16px;
  width: 300px;
  max-width: 100%; /* Ajuste para pantallas pequeñas */
  max-height: 80vh;
  overflow-y: auto;
  background-color: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 8px;
  z-index: 1500;
}

@media (max-width: 600px) {
  .cart-box {
    width: 100%;
    top: 0;
    right: 0;
    border-radius: 0;
  }
}

/* Estilos para la página de pago */
.payment-page {
  width: 90%;
  max-width: 600px; /* Ajuste para pantallas pequeñas */
  height: auto;
  margin: auto;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3000;
  background-color: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
  .payment-page {
    width: 100%;
    height: auto;
    padding: 10px;
    top: 0;
    left: 0;
    transform: none;
  }
}

.offer-banner {
  width: 100%;
  padding: 10px 0;
  background-color: #49a4d4;
  color: white;
}

.offer-title {
  margin: 0;
}

.cart-items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.cart-item {
  flex: 1 1 30%;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
  .cart-item {
    flex: 1 1 45%;
  }
}

/* Estilos para el menú de categoría */
.category-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3000;
  width: 90%;
  max-width: 600px; /* Ajuste para pantallas pequeñas */
  max-height: 80vh;
  overflow-y: auto;
  background-color: white;
  padding: 16px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

@media (max-width: 600px) {
  .category-menu {
    width: 100%;
    top: 0;
    left: 0;
    transform: none;
    border-radius: 0;
    max-height: 100vh;
  }
}

.category-menu img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.category-menu .MuiPaper-root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Estilo para el fondo borroso */
.blur-background .content {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.payment-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment-overlay .payment-page {
  z-index: 3000; /* Eleva el menú de pago por encima del fondo borroso */
}

/* Estilos adicionales para la barra de búsqueda */
.search-results {
  width: auto;
  max-width: 300px;
  max-height: 400px;
  overflow-y: auto;
  margin-top: 10px;
  z-index: 2000;
  position: absolute;
}

/* Estilos para el botón de hamburguesa y las categorías */
.hamburger-menu {
  display: none;
}

.category-links {
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .category-links {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
}
